asgiref==3.5.0
blinker==1.4
brotli==1.0.9
configparser==5.2.0
cryptography==2.8
Cython==0.29.28
dl==0.1.0
docutils==0.17.1
flask_ngrok==0.0.25
gevent==21.12.0
greenlet==1.1.2
HTMLParser==0.0.2
importlib_metadata==1.5.0
jnius==1.1.0
keyring==18.0.1
lockfile==0.12.2
lxml==4.8.0
numpy==1.21.5
ordereddict==1.1
protobuf==3.20.0
pyngrok==5.1.0
pyOpenSSL==22.0.0
python-dotenv==0.20.0
toml==0.10.2
tornado==6.1
transformers==4.16.2
typing_extensions==4.1.1
watchdog==2.1.6
xmlrpclib==1.0.1
zipp==1.0.0
